<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Default Title</title>
    <link href="/webjars/materializecss/0.99.0/css/materialize.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
</head>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Contabilidad</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/accountingentries">Entradas Contables</a></li>
            <li><a href="/accountingaccounts">Cuentas Contables</a></li>
            <li><a href="/accounttypes">Tipos de Cuentas</a></li>
            <li><a href="/auxiliaries">Auxiliares</a></li>
        </ul>
    </div>
</nav>
<body>

<section layout:fragment="content">
    <p>Page content goes here</p>
</section>

<script src="/webjars/jquery/3.0.0/jquery.js"></script>
<script src="/webjars/materializecss/0.99.0/js/materialize.js"></script>]
<script type="text/javascript">
    $('select').material_select();
    $(".dropdown-button").dropdown();
    $.datetimepicker.setLocale('es');
    $('#deadline').datetimepicker({
        minDate: 0,
        minTime: 0,
        formatTime: 'H:i',
        format: 'd/m/Y H:i',
        mask: true,
        startDate: new Date()
    });
    $('#creationDate').datetimepicker({
        formatTime: 'H:i',
        format: 'd/m/Y H:i',
        mask: true,
        startDate: new Date()
    });

</script>
<script type="text/javascript" layout:fragment="script">
</script>
</body>
</html>